body {
    font-family: Arial, sans-serif;
    background-color: #f4f7fc;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column; /* Asegura que los elementos queden en una columna */
}

.container {
    text-align: center;
    width: 80%;
    margin-top: 50px; 
    padding-top: 300px; 
}

h1 {
    color: #333;
    margin-bottom: 20px;
}

.status-card {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}

#gauge-container {
    margin: 20px auto;
    width: 400px;
    height: 400px;
}


.chart-container {
    margin-top: 40px;
    width: 80%;
    max-width: 600px; 
    margin-left: auto;
    margin-right: auto;
    text-align: center; 
}

canvas {
    width: 100% !important;
    height: auto !important;
}

p {
    font-size: 18px;
    margin: 10px 0;
}
